In [2]:
import pandas as pd
import numpy as np

In [3]:
#import icd10 data from both files
icd10_1 = pd.read_csv("icd10-1") #first half
icd10_2 = pd.read_csv("icd10-2") #second half

C:\Users\Bryan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Bryan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
##population add on per WHO population data file
pop = pd.read_csv('pop')

In [5]:
pop

,Country,Admin1,SubDiv,Year,Sex,Frmat,Pop1,Pop2,Pop3,Pop4,...,Pop18,Pop19,Pop20,Pop21,Pop22,Pop23,Pop24,Pop25,Pop26,Lb
0,1060,NaN,NaN,1980,1,7,1.371000e+05,3400.000000,15800.000000,NaN,...,NaN,5300.000000,NaN,2900.000000,NaN,NaN,NaN,NaN,6500.0,5000.0
1,1060,NaN,NaN,1980,2,7,1.590000e+05,4000.000000,18400.000000,NaN,...,NaN,6200.000000,NaN,3400.000000,NaN,NaN,NaN,NaN,7500.0,6000.0
2,1125,NaN,NaN,1955,1,2,5.051500e+06,150300.000000,543400.000000,NaN,...,110200.000000,51100.000000,41600.000000,14300.000000,11800.0,25300.0,NaN,NaN,0.0,253329.0
3,1125,NaN,NaN,1955,2,2,5.049400e+06,145200.000000,551000.000000,NaN,...,122100.000000,51100.000000,50700.000000,15800.000000,18000.0,28500.0,NaN,NaN,0.0,237901.0
4,1125,NaN,NaN,1956,1,2,5.353700e+06,158700.000000,576600.000000,NaN,...,116900.000000,54100.000000,44000.000000,14900.000000,12400.0,26600.0,NaN,NaN,0.0,250022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9530,5198,NaN,NaN,2018,2,3,3.260365e+05,8015.096596,7986.494468,7975.603354,...,6422.052069,5257.338854,3744.042066,4552.898314,NaN,NaN,NaN,NaN,0.0,NaN
9531,5200,NaN,NaN,2003,1,4,5.171100e+04,1156.000000,5045.000000,NaN,...,1390.000000,1193.000000,859.000000,952.000000,NaN,NaN,NaN,NaN,0.0,1433.0
9532,5200,NaN,NaN,2003,2,4,4.969300e+04,1065.000000,4713.000000,NaN,...,1406.000000,1122.000000,854.000000,1006.000000,NaN,NaN,NaN,NaN,0.0,1348.0
9533,4270,NaN,NaN,2016,1,0,9.627987e+06,103747.000000,102424.000000,99243.000000,...,625134.000000,498426.000000,319761.000000,280223.000000,181896.0,86140.0,26456.0,4182.0,502.0,105622.0
9534,4270,NaN,NaN,2016,2,0,1.007844e+07,98053.000000,96605.000000,93721.000000,...,725681.000000,625364.000000,445853.000000,449108.000000,318337.0,164301.0,54724.0,9744.0,1257.0,100151.0

In [80]:
## read in the file with the cause mapping from 1-20
conCauses = pd.read_csv("condensed_causes_full.csv")

C:\Users\Bryan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [81]:
conCauses

,new_cause,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1.0,1310,NaN,NaN,2000,104,A010,1,0,1,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
1,1.0,1310,NaN,NaN,2000,104,A010,2,0,1,...,0,0.0,1.0,0.0,0.0,0,0,0.0,0.0,0.0
2,1.0,1310,NaN,NaN,2000,104,A050,1,0,1,...,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,1.0
3,1.0,1310,NaN,NaN,2000,104,A053,2,0,1,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
4,1.0,1310,NaN,NaN,2000,104,A054,2,0,1,...,1,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569241,20.0,4085,NaN,NaN,2017,104,Y883,1,0,1,...,4,2.0,2.0,0.0,0.0,0,0,0.0,0.0,0.0
3569242,20.0,4085,NaN,NaN,2017,104,Y883,2,0,1,...,4,6.0,11.0,0.0,0.0,0,0,0.0,0.0,0.0
3569243,20.0,4085,NaN,NaN,2017,104,Y891,1,0,1,...,0,1.0,1.0,0.0,0.0,0,0,0.0,0.0,0.0
3569244,20.0,4085,NaN,NaN,2017,104,Y899,1,0,1,...,4,3.0,6.0,0.0,0.0,0,0,0.0,0.0,0.0
3569245,20.0,4085,NaN,NaN,2017,104,Y899,2,0,1,...,1,2.0,5.0,0.0,0.0,0,0,0.0,0.0,0.0

In [95]:
## copy the conCauses df into a merger df so the merge is simpler...will drop a bunch of columns
conCause_merger = conCauses.copy()
conCause_merger

,new_cause,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1.0,1310,NaN,NaN,2000,104,A010,1,0,1,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
1,1.0,1310,NaN,NaN,2000,104,A010,2,0,1,...,0,0.0,1.0,0.0,0.0,0,0,0.0,0.0,0.0
2,1.0,1310,NaN,NaN,2000,104,A050,1,0,1,...,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,1.0
3,1.0,1310,NaN,NaN,2000,104,A053,2,0,1,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
4,1.0,1310,NaN,NaN,2000,104,A054,2,0,1,...,1,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569241,20.0,4085,NaN,NaN,2017,104,Y883,1,0,1,...,4,2.0,2.0,0.0,0.0,0,0,0.0,0.0,0.0
3569242,20.0,4085,NaN,NaN,2017,104,Y883,2,0,1,...,4,6.0,11.0,0.0,0.0,0,0,0.0,0.0,0.0
3569243,20.0,4085,NaN,NaN,2017,104,Y891,1,0,1,...,0,1.0,1.0,0.0,0.0,0,0,0.0,0.0,0.0
3569244,20.0,4085,NaN,NaN,2017,104,Y899,1,0,1,...,4,3.0,6.0,0.0,0.0,0,0,0.0,0.0,0.0
3569245,20.0,4085,NaN,NaN,2017,104,Y899,2,0,1,...,1,2.0,5.0,0.0,0.0,0,0,0.0,0.0,0.0

In [96]:
##merging df ready
conCause_merger.drop(conCause_merger.loc[:,'Sex':'IM_Deaths4'], axis=1, inplace = True)
conCause_merger.drop(['Admin1','SubDiv','List'],axis =1, inplace = True)
conCause_merger

         new_cause  Country  Year Cause
0              1.0     1310  2000  A010
1              1.0     1310  2000  A010
2              1.0     1310  2000  A050
3              1.0     1310  2000  A053
4              1.0     1310  2000  A054
...            ...      ...   ...   ...
3569241       20.0     4085  2017  Y883
3569242       20.0     4085  2017  Y883
3569243       20.0     4085  2017  Y891
3569244       20.0     4085  2017  Y899
3569245       20.0     4085  2017  Y899

[3569246 rows x 4 columns]

In [6]:
##pop1 is the total column so dropping all data except total pop year and country... sex is handled below
pop.drop(pop.loc[:,'Pop2':'Lb'],axis=1,inplace =True)
pop.drop(['Admin1','SubDiv','Frmat'],axis =1,inplace = True)

In [7]:
## a population add on with total population by country by year.. the groupby.sum() combines male and female
pop = pop.groupby(['Country','Year']).sum().reset_index()

In [8]:
pop

      Country  Year  Sex          Pop1
0        1060  1980    3  2.961000e+05
1        1125  1955    3  1.010090e+07
2        1125  1956    3  1.070510e+07
3        1125  1957    3  1.079500e+07
4        1125  1958    3  1.100130e+07
...       ...   ...  ...           ...
4725     5195  1977    3  2.809000e+06
4726     5195  1980    3  3.010700e+06
4727     5198  2017    3  6.528855e+05
4728     5198  2018    3  6.665570e+05
4729     5200  2003    3  1.014040e+05

[4730 rows x 4 columns]

In [9]:
#Combine ICD datasets into one and reset index 
icd10 = icd10_1.append(icd10_2).reset_index()

In [10]:
#drop any na values in all cause mortality (turns out there are none)
icd10 = icd10[pd.notnull(icd10['Deaths1'])]

In [11]:
#drop ages by death in favor of using all cause mortality the Death1 field
icd10.drop(icd10.loc[:, 'Deaths2':'Deaths26'], axis=1, inplace = True)

In [12]:
#drop additional mortality formatting for location/age
icd10.drop(['index','Admin1','SubDiv','Frmat','IM_Frmat','IM_Deaths1','IM_Deaths2','IM_Deaths3','IM_Deaths4'], axis = 1, inplace = True)

In [13]:
## both ICD databases combined with rows described above dropped. should have country,year,list,cause,sex and death1 remaining
icd10

         Country  Year List Cause  Sex  Deaths1
0           1400  2001  101  1000    1      332
1           1400  2001  101  1000    2      222
2           1400  2001  101  1001    1       24
3           1400  2001  101  1001    2       14
4           1400  2001  101  1002    1        0
...          ...   ...  ...   ...  ...      ...
3945133     4070  2017  103   Y86    1       39
3945134     4070  2017  103   Y86    2       20
3945135     4070  2017  103   Y87    1        2
3945136     4070  2017  103   Y87    2        2
3945137     4070  2017  103   Y89    1        1

[3945138 rows x 6 columns]

In [20]:
#Here is some  basic EDA 
icd10.dtypes

Country     int64
Year        int64
List       object
Cause      object
Sex         int64
Deaths1     int64
dtype: object

In [13]:
icd10.describe()

            Country          Year           Sex       Deaths1
count  3.945138e+06  3.945138e+06  3.945138e+06  3.945138e+06
mean   3.244696e+03  2.007314e+03  1.510680e+00  1.862377e+02
std    1.008868e+03  5.946333e+00  7.218556e-01  6.891543e+03
min    1.060000e+03  1.988000e+03  1.000000e+00  0.000000e+00
25%    2.250000e+03  2.002000e+03  1.000000e+00  1.000000e+00
50%    3.300000e+03  2.008000e+03  1.000000e+00  3.000000e+00
75%    4.188000e+03  2.012000e+03  2.000000e+00  1.200000e+01
max    5.198000e+03  2.018000e+03  9.000000e+00  1.439111e+06

In [46]:
##created a couple copys of the ICD10 data for more eda
##eda = icd10[icd10.List == 101].copy()
eda = icd10.copy()

In [56]:
eda_count = eda.groupby(['List']).count().reset_index()

In [57]:
## support for why we filtered on only the 104 code
eda_count

  List  Country     Year    Cause      Sex  Deaths1
0  101    25323    25323    25323    25323    25323
1  103   309568   309568   309568   309568   309568
2  104  3565629  3565629  3565629  3565629  3565629
3  103    22635    22635    22635    22635    22635
4  104     3617     3617     3617     3617     3617
5  10M    18114    18114    18114    18114    18114
6  UE1      252      252      252      252      252

In [64]:
## pulls only the 104 tagged lines from our main dataset
list_104 = icd10[icd10.List == 104].copy().reset_index()

In [69]:
list_104.drop(['index'],axis =1,inplace = True)

In [70]:
list_104

         Country  Year List Cause  Sex  Deaths1
0           1310  2000  104  A010    1       15
1           1310  2000  104  A010    2       17
2           1310  2000  104  A050    1        2
3           1310  2000  104  A053    2        1
4           1310  2000  104  A054    2        1
...          ...   ...  ...   ...  ...      ...
3565624     4085  2017  104  I780    1        9
3565625     4085  2017  104  I780    2       14
3565626     4085  2017  104  I781    2        1
3565627     4085  2017  104  I789    1       53
3565628     4085  2017  104  I789    2       76

[3565629 rows x 6 columns]

In [71]:
## this at this point each country,year,cause combo should have 1 summed number in Deaths1 - essentially removing sex
list_104_grouped = list_104.groupby(['Country','Year','Cause']).sum().reset_index()

In [73]:
list_104_grouped

         Country  Year Cause  Sex  Deaths1
0           1300  2005   A09    3       10
1           1300  2005  A162    3        4
2           1300  2005  A169    3        7
3           1300  2005  A199    1        2
4           1300  2005   A35    2        1
...          ...   ...   ...  ...      ...
2263811     5198  2018  W749    2        1
2263812     5198  2018  W849    1        2
2263813     5198  2018  X589    1        1
2263814     5198  2018  X999    1        1
2263815     5198  2018  Y349    3        6

[2263816 rows x 5 columns]

In [76]:
## need to merge the population data into the 104 data to norm the death amounts to be able to identify outliers and run models
normed_104 = list_104_grouped.merge(pop[['Country','Year','Pop1']],)

In [77]:
normed_104

         Country  Year Cause  Sex  Deaths1          Pop1
0           1300  2005   A09    3       10  1.206346e+06
1           1300  2005  A162    3        4  1.206346e+06
2           1300  2005  A169    3        7  1.206346e+06
3           1300  2005  A199    1        2  1.206346e+06
4           1300  2005   A35    2        1  1.206346e+06
...          ...   ...   ...  ...      ...           ...
1277016     5198  2018  W749    2        1  6.665570e+05
1277017     5198  2018  W849    1        2  6.665570e+05
1277018     5198  2018  X589    1        1  6.665570e+05
1277019     5198  2018  X999    1        1  6.665570e+05
1277020     5198  2018  Y349    3        6  6.665570e+05

[1277021 rows x 6 columns]

In [78]:
## this creates a new column that is % of deaths per total population in each cause
normed_104['Normed_Deaths'] = normed_104['Deaths1'] / normed_104['Pop1']

In [79]:
normed_104

         Country  Year Cause  Sex  Deaths1          Pop1  Normed_Deaths
0           1300  2005   A09    3       10  1.206346e+06   8.289496e-06
1           1300  2005  A162    3        4  1.206346e+06   3.315798e-06
2           1300  2005  A169    3        7  1.206346e+06   5.802647e-06
3           1300  2005  A199    1        2  1.206346e+06   1.657899e-06
4           1300  2005   A35    2        1  1.206346e+06   8.289496e-07
...          ...   ...   ...  ...      ...           ...            ...
1277016     5198  2018  W749    2        1  6.665570e+05   1.500247e-06
1277017     5198  2018  W849    1        2  6.665570e+05   3.000494e-06
1277018     5198  2018  X589    1        1  6.665570e+05   1.500247e-06
1277019     5198  2018  X999    1        1  6.665570e+05   1.500247e-06
1277020     5198  2018  Y349    3        6  6.665570e+05   9.001481e-06

[1277021 rows x 7 columns]

In [105]:
## merging in cosolidated cause mapping
##normed_104 = list_104_grouped.merge(pop[['Country','Year','Pop1']],)
normed_merged = normed_104.merge(conCause_merger[['Country','Year','Cause','new_cause']])

In [106]:
normed_merged

,Country,Year,Cause,Sex,Deaths1,Pop1,Normed_Deaths,new_cause
0,1300,2005,A09,3,10,1.206346e+06,0.000008,1.0
1,1300,2005,A09,3,10,1.206346e+06,0.000008,1.0
2,1300,2005,A162,3,4,1.206346e+06,0.000003,1.0
3,1300,2005,A162,3,4,1.206346e+06,0.000003,1.0
4,1300,2005,A169,3,7,1.206346e+06,0.000006,1.0
...,...,...,...,...,...,...,...,...
1980904,5198,2018,W849,1,2,6.665570e+05,0.000003,20.0
1980905,5198,2018,X589,1,1,6.665570e+05,0.000002,20.0
1980906,5198,2018,X999,1,1,6.665570e+05,0.000002,20.0
1980907,5198,2018,Y349,3,6,6.665570e+05,0.000009,20.0
1980908,5198,2018,Y349,3,6,6.665570e+05,0.000009,20.0

In [107]:
final_data = normed_merged.groupby(['Country','Year','new_cause']).sum().reset_index()

In [108]:
## renaming new_cause to category and dropping excss columns sex,deaths1 and pop1
## this should be our final df ready for analysis may rearrange further depending on how we want to model
final_data.rename(columns={'new_cause':'Category'}, inplace=True)
final_data.drop(['Sex','Deaths1','Pop1'],axis=1, inplace = True)
final_data

       Country  Year  Category  Normed_Deaths
0         1300  2005       1.0       0.000229
1         1300  2005       2.0       0.001327
2         1300  2005       3.0       0.000022
3         1300  2005       4.0       0.002974
4         1300  2005       5.0       0.000076
...        ...   ...       ...            ...
14294     5198  2018      16.0       0.000227
14295     5198  2018      17.0       0.000044
14296     5198  2018      18.0       0.000008
14297     5198  2018      20.0       0.000030
14298     5198  2018      22.0       0.001680

[14299 rows x 4 columns]

In [109]:
## final data in csv form
final_data.to_csv('Final_Data',index = False)

In [114]:
pivot_final_2015 = final_data[final_data.Year == 2015].copy()

In [116]:
pivot_final_2015 = pivot_final_2015.pivot(index = 'Country',columns = 'Category',values = 'Normed_Deaths').reset_index()

In [117]:

pivot_final_2015 = pivot_final_2015.fillna(0)
pivot_final_2015

Category,Country,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,20.0,22.0
0,1300,0.000338,0.001694,0.000066,0.003830,7.864579e-05,0.000242,0.000000e+00,0.000000e+00,0.005166,...,0.000492,5.570743e-05,0.000038,0.000215,3.276908e-06,0.000153,0.000052,0.000247,0.000770,0.015559
1,1365,0.000072,0.000978,0.000143,0.002408,7.152735e-05,0.000072,0.000000e+00,0.000000e+00,0.003886,...,0.000572,7.152735e-05,0.000000,0.000024,4.768490e-05,0.000119,0.000048,0.000143,0.000286,0.011969
2,3080,0.000333,0.002983,0.000051,0.001052,3.510782e-04,0.000531,0.000000e+00,0.000000e+00,0.004881,...,0.000414,4.507085e-05,0.000046,0.000492,0.000000e+00,0.000028,0.000024,0.000421,0.000592,0.014204
3,3090,0.000347,0.003778,0.000015,0.000166,3.164045e-04,0.000108,2.742995e-07,1.371498e-07,0.002762,...,0.000414,4.690522e-05,0.000041,0.000617,1.371498e-07,0.000008,0.000015,0.000479,0.000532,0.019238
4,3150,0.000599,0.002582,0.000055,0.000798,3.713538e-04,0.000380,4.773185e-07,1.193296e-07,0.002472,...,0.000344,1.072773e-04,0.000083,0.000518,8.353073e-07,0.000057,0.000058,0.000609,0.000403,0.010564
5,3160,0.000402,0.005917,0.000052,0.000334,2.101352e-04,0.000492,3.989808e-08,1.755516e-07,0.005411,...,0.000770,2.606143e-05,0.000097,0.000588,3.511031e-07,0.000008,0.000031,0.001644,0.001074,0.020594
6,3170,0.000160,0.000919,0.000024,0.000466,9.118457e-07,0.000109,0.000000e+00,1.519743e-07,0.002279,...,0.000196,1.124610e-05,0.000012,0.000214,5.775022e-06,0.000242,0.000204,0.000070,0.000468,0.005833
7,3190,0.000199,0.000417,0.000003,0.000076,1.534864e-05,0.000023,0.000000e+00,0.000000e+00,0.001200,...,0.000078,9.902350e-07,0.000005,0.000054,1.237794e-06,0.000108,0.000101,0.000069,0.000424,0.003209
8,3255,0.000300,0.000372,0.000049,0.000309,1.732217e-05,0.000081,0.000000e+00,0.000000e+00,0.002564,...,0.000092,3.464433e-05,0.000009,0.000188,5.774055e-06,0.000144,0.000032,0.000693,0.000202,0.006727
9,3350,0.000084,0.002779,0.000002,0.000129,2.562335e-07,0.000091,0.000000e+00,1.024934e-06,0.002889,...,0.000220,5.201540e-05,0.000037,0.000457,7.687006e-07,0.000009,0.000018,0.000031,0.000296,0.009552
10,3400,0.000211,0.002023,0.000029,0.000505,1.388419e-05,0.000488,6.392351e-08,8.949292e-08,0.004451,...,0.000257,6.238935e-06,0.000028,0.000338,2.812635e-06,0.000267,0.000166,0.000262,0.000480,0.010150
11,4010,0.000187,0.004601,0.000043,0.000978,4.082499e-04,0.000657,1.158813e-07,1.158813e-07,0.008226,...,0.000653,1.124049e-05,0.000055,0.000391,4.635253e-07,0.000027,0.000052,0.000548,0.001005,0.019253
12,4020,0.000408,0.004815,0.000058,0.000488,9.472889e-04,0.000987,5.325837e-07,1.775279e-07,0.005556,...,0.000837,5.077298e-05,0.000105,0.000497,3.550558e-07,0.000031,0.000034,0.001146,0.001193,0.019624
13,4030,0.000157,0.004676,0.000026,0.000502,2.354419e-05,0.000307,0.000000e+00,2.786295e-07,0.020056,...,0.001058,1.198107e-05,0.000007,0.000392,5.572590e-07,0.000047,0.000037,0.001014,0.000739,0.030682
14,4038,0.000174,0.006376,0.000007,0.000802,6.344556e-04,0.000521,0.000000e+00,7.136733e-07,0.012205,...,0.001007,1.903129e-06,0.000057,0.000493,2.378911e-07,0.000040,0.000041,0.000238,0.001267,0.025790
15,4045,0.000368,0.004864,0.000036,0.000845,2.787647e-04,0.000567,1.897004e-07,3.794007e-07,0.009661,...,0.000872,3.300786e-05,0.000042,0.000260,1.897004e-07,0.000023,0.000023,0.000281,0.001065,0.021090
16,4050,0.000317,0.005003,0.000070,0.000599,1.199645e-03,0.000778,7.044302e-07,8.805378e-07,0.004392,...,0.000706,1.620190e-05,0.000112,0.000265,0.000000e+00,0.000036,0.000034,0.001439,0.000647,0.018394
17,4084,0.000264,0.003122,0.000116,0.000570,3.113863e-05,0.000288,7.247785e-06,5.368730e-07,0.011209,...,0.000727,2.013274e-05,0.000020,0.000239,5.368730e-06,0.000178,0.000063,0.007145,0.000833,0.026372
18,4085,0.000487,0.005415,0.000076,0.000794,1.090534e-03,0.000712,1.224191e-07,4.284668e-07,0.008731,...,0.000975,3.485271e-05,0.000091,0.000604,2.938058e-07,0.000031,0.000043,0.000671,0.000881,0.022652
19,4140,0.000722,0.005310,0.000033,0.000372,2.134745e-04,0.000543,0.000000e+00,9.241321e-08,0.008570,...,0.000608,9.056494e-06,0.000041,0.000674,4.620660e-07,0.000034,0.000029,0.001435,0.000745,0.022454
20,4150,0.000173,0.006433,0.000028,0.000630,7.179701e-04,0.000401,1.015948e-07,1.320732e-06,0.013298,...,0.001282,1.716951e-05,0.000087,0.000191,5.079738e-07,0.000041,0.000055,0.000038,0.001167,0.026759
21,4170,0.000147,0.003617,0.000029,0.000293,6.627861e-04,0.000653,0.000000e+00,0.000000e+00,0.003976,...,0.000394,2.538511e-05,0.000076,0.000254,2.133203e-07,0.000038,0.000061,0.000045,0.000504,0.012853
22,4180,0.000519,0.005642,0.000096,0.000962,7.038958e-04,0.000926,1.416090e-06,6.586467e-07,0.007887,...,0.000766,4.152768e-05,0.000113,0.000440,2.634587e-07,0.000028,0.000044,0.000443,0.000770,0.021276
23,4184,0.000284,0.001131,0.000010,0.000128,1.275752e-05,0.000166,0.000000e+00,0.000000e+00,0.005925,...,0.000754,3.525104e-06,0.000023,0.000158,1.057531e-05,0.000739,0.000109,0.000315,0.000981,0.011686
24,4186,0.000298,0.005288,0.000020,0.000502,4.080855e-04,0.000356,0.000000e+00,5.056821e-07,0.016287,...,0.000993,4.652275e-05,0.000073,0.000359,6.068185e-06,0.000039,0.000038,0.000308,0.001619,0.028505
25,4188,0.000486,0.005292,0.000022,0.000236,7.917629e-05,0.000392,0.000000e+00,3.442447e-07,0.016218,...,0.001415,2.031044e-05,0.000042,0.000229,1.032734e-06,0.000029,0.000041,0.000396,0.002129,0.028762
26,4190,0.000204,0.003253,0.000060,0.000367,7.865113e-04,0.000595,0.000000e+00,0.000000e+00,0.003959,...,0.000502,7.022423e-06,0.000058,0.000241,0.000000e+00,0.000007,0.000014,0.000390,0.000734,0.013480
27,4200,0.000079,0.003776,0.000016,0.000813,6.320381e-04,0.000407,0.000000e+00,0.000000e+00,0.006054,...,0.000370,8.566084e-05,0.000037,0.000361,0.000000e+00,0.000039,0.000035,0.000058,0.000375,0.015942
28,4210,0.000408,0.005123,0.000054,0.000427,1.340797e-03,0.000895,2.774511e-06,1.770964e-06,0.004636,...,0.000530,3.417961e-05,0.000119,0.000389,3.541929e-07,0.000036,0.000047,0.000651,0.000845,0.017371
29,4220,0.000353,0.003919,0.000042,0.000366,1.008884e-03,0.000723,0.000000e+00,0.000000e+00,0.004456,...,0.000474,3.795839e-05,0.000107,0.000297,0.000000e+00,0.000023,0.000037,0.000811,0.000899,0.015679
30,4230,0.000098,0.005225,0.000008,0.000453,1.162669e-04,0.000285,2.632855e-08,7.898564e-08,0.009495,...,0.000774,1.282200e-05,0.000027,0.000157,1.579713e-07,0.000040,0.000042,0.001390,0.001020,0.020795
31,4240,0.000376,0.004963,0.000080,0.001108,6.270470e-04,0.000716,9.654303e-08,3.861721e-07,0.006254,...,0.000871,2.374958e-05,0.000082,0.000612,5.792582e-07,0.000025,0.000033,0.001333,0.000890,0.021031
32,4260,0.000235,0.003201,0.000009,0.000231,1.004471e-04,0.000195,0.000000e+00,8.440937e-07,0.012932,...,0.002094,1.266140e-05,0.000008,0.000155,3.376375e-06,0.000093,0.000060,0.000169,0.001491,0.022456
33,4270,0.000273,0.004867,0.000009,0.000267,2.038376e-05,0.000375,0.000000e+00,5.045486e-08,0.015528,...,0.001447,7.820503e-06,0.000003,0.000341,1.362281e-06,0.000053,0.000039,0.000278,0.000975,0.026367
34,4273,0.000160,0.005784,0.000057,0.000884,3.987100e-04,0.000593,0.000000e+00,1.409367e-07,0.015316,...,0.000937,2.565048e-05,0.000033,0.000639,1.127494e-06,0.000059,0.000021,0.001392,0.000786,0.029224
35,4280,0.000324,0.004568,0.000082,0.000604,9.178381e-04,0.001111,3.232052e-07,1.723761e-07,0.005350,...,0.000876,6.683883e-05,0.000177,0.000515,3.232052e-07,0.000028,0.000033,0.000409,0.000631,0.018210
36,4290,0.000471,0.004451,0.000059,0.000517,1.279585e-03,0.000927,2.062683e-07,4.125366e-07,0.006590,...,0.000581,3.578755e-05,0.000089,0.000246,1.031341e-07,0.000025,0.000037,0.000620,0.001036,0.018771
37,4308,0.000205,0.004877,0.000033,0.000275,1.660190e-03,0.000999,5.068343e-07,1.182613e-06,0.004857,...,0.000884,6.383041e-05,0.000139,0.000328,5.375516e-07,0.000049,0.000060,0.000387,0.000733,0.018516
38,4310,0.000199,0.004805,0.000032,0.000264,1.668711e-03,0.000980,4.664388e-07,1.174735e-06,0.004788,...,0.000866,6.504229e-05,0.000139,0.000317,5.009898e-07,0.000049,0.000060,0.000411,0.000705,0.018300
39,4320,0.000187,0.004496,0.000032,0.000237,1.433879e-03,0.000974,0.000000e+00,1.080135e-06,0.004037,...,0.000812,2.214276e-05,0.000095,0.000332,5.400673e-07,0.000056,0.000060,0.000202,0.000764,0.016794
40,4330,0.000268,0.005733,0.000035,0.000391,1.642844e-03,0.001189,5.583473e-07,5.583473e-07,0.005850,...,0.001075,6.085985e-05,0.000133,0.000437,9.305788e-07,0.000032,0.000047,0.000189,0.000950,0.021433
41,5020,0.000236,0.003698,0.000039,0.000560,8.044594e-04,0.000712,3.359087e-07,1.259658e-07,0.003829,...,0.000476,4.375211e-05,0.000108,0.000293,3.359087e-07,0.000044,0.000046,0.000108,0.000879,0.013357
42,5150,0.000124,0.003918,0.000022,0.000466,7.878710e-04,0.000598,0.000000e+00,0.000000e+00,0.004445,...,0.000395,4.438710e-05,0.000080,0.000184,1.305503e-06,0.000048,0.000065,0.000087,0.000785,0.013837

C:\Users\Bryan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,new_cause,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1.0,1310,NaN,NaN,2000,104,A010,1,0,1,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
1,1.0,1310,NaN,NaN,2000,104,A010,2,0,1,...,0,0.0,1.0,0.0,0.0,0,0,0.0,0.0,0.0
2,1.0,1310,NaN,NaN,2000,104,A050,1,0,1,...,0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,1.0
3,1.0,1310,NaN,NaN,2000,104,A053,2,0,1,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
4,1.0,1310,NaN,NaN,2000,104,A054,2,0,1,...,1,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569241,20.0,4085,NaN,NaN,2017,104,Y883,1,0,1,...,4,2.0,2.0,0.0,0.0,0,0,0.0,0.0,0.0
3569242,20.0,4085,NaN,NaN,2017,104,Y883,2,0,1,...,4,6.0,11.0,0.0,0.0,0,0,0.0,0.0,0.0
3569243,20.0,4085,NaN,NaN,2017,104,Y891,1,0,1,...,0,1.0,1.0,0.0,0.0,0,0,0.0,0.0,0.0
3569244,20.0,4085,NaN,NaN,2017,104,Y899,1,0,1,...,4,3.0,6.0,0.0,0.0,0,0,0.0,0.0,0.0
3569245,20.0,4085,NaN,NaN,2017,104,Y899,2,0,1,...,1,2.0,5.0,0.0,0.0,0,0,0.0,0.0,0.0